body{
    background: #ad75ad;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 2em;
}

nav {
	margin: 27px auto 0;

	position: relative;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #3498db;
}

button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
.regras_class{
    font-style: italic;
    font-weight: bold;
    line-height: 1.5em;
}
td{
    text-align: center;
    font-style: italic;
    
}
table{
    width: 100%;
    border: 1px solid #3498db;
}
th, td{
    border: 1px solid #3498db;
}

.primeiroLugar{
	font-size: 1.6em;
	color: blue;
	background-color: darkgreen;
}
.segundoLugar{
	font-size: 1.2em;
	color: rgb(71, 71, 255);
	background-color: rgb(115, 185, 115);
}
.terceiroLugar{
	font-size: 1.1em;
	color: rgb(115, 115, 255);
	background-color: rgb(162, 224, 162);
}
.medianoLugar{
	font-size: 1.1em;
	color: rgb(255, 250, 174);
	background-color: rgba(52, 248, 157, 0.384);
}
.pioresLugar{
	font-size: 1.1em;
	color: rgb(255, 75, 75);
	background-color: rgb(36, 36, 36);
}